@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Condensed:ital@1&display=swap');
.ftwo{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
}
.fthree{
    font-family: 'Chelsea Market', cursive;
}